.manrope{
  font-family: "Manrope", sans-serif;  
}
@media screen and (max-width:600px) {
    .menu, .nav-btn{
        display: none;
    }
}
@media screen and (min-width:577px) and (max-width:1279px) {
    .menu {
        display:none;
    }
   
}